dataset/*
!dataset/INAB/
dataset/INAB/features/
dataset/INAB/labels/
!dataset/efficiency_test/
dataset/efficiency_test/features/
lib/*
!lib/.gitkeep
log/*
!log/.gitkeep
model_parameters/*
!model_parameters/.gitkeep
assist_scripts

__pycache__/